.board-square {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  vertical-align: bottom;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.board-square.walkable {
  cursor: pointer;
}

.board-square.void {
  background-color: #555;
}

.board-square.grass {
  background-color: #71AA1D;
}

.board-square.water {
  background-color: #004DC2;
}
