.board-square {
  display: inline-block;
  width: 85px;
  height: 70px;
  text-align: center;
  vertical-align: bottom;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

.board-square.can-walk, .board-square.has-player {
  cursor: pointer;
}

.board-square.walkable:hover {
  opacity: 0.8;
}

.board-square.void {
  background-color: #555;
}

.board-square.grass {
  background-color: #71AA1D;
}

.board-square.water {
  background-color: #004DC2;
}

.board-square .player .player-image-container {
  position: absolute;
  top: 18px;
  width: 100%;
}

.board-square .player .player-title-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 0.8rem;
  color: #FFF;
  background-color: #34403a;
  border-top: 1px solid #000;
  padding: 3px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.board-square.GE .player .player-title-container {
  color: #FFF;
  background-color: #8A0303;
}

.board-square.AT .player .player-title-container {
  color: #333;
  background-color: #EEE;
}

.board-square .player .player-damages {
  background-color: #A22;
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  padding: 2px;
  font-size: 11px;
  position: relative;
  animation-duration: 1.5s;
  animation-name: slideout;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes slideout {
  from {
    opacity: 1;
    bottom: 0;
  }

  to {
    opacity: 0;
    bottom: 30px;
  }
}

.board-square .player-information-popup {
  font-size: 0.8em;
  z-index: 10;
  position: absolute;
  top: 75px;
  right: -36px;
  padding: 10px;
  width: 140px;
  border: 1px solid #000;
  background-color: rgba(52, 64, 58,0.95);
}

.board-square .player-information-popup p {
  margin-bottom: 0.5em;
}
